
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<p>Welcome to the MVC_Assignment project! Feel free to navigate wherever you want. The navigation links are above.</p>

