
@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Projects</h1>

<h6>Below are the assignments made by Ismet Catovic.</h6>

<ul>

    <li><a href="https://github.com/a18ismca/LXC_Assignment1">C# Assignment 1 - Calculator with xUnit Tests </a></li><br/>

    <li><a href="https://github.com/a18ismca/LXC_Assignment2">C# Assignment 2 - Hangman</a></li><br/>

    <li><a href="https://github.com/a18ismca/LXC_Assignment3">C# Assignment 4 - Vending machine</a></li><br/>

    <li><a href="https://github.com/a18ismca/LXC_Frontend_Assignment1">Frontend assignment 1 & 2 - HTML and CSS</a></li><br/>

    <li><a href="https://github.com/a18ismca/LXC_Sokoban">Frontend Assignment 3 - Sokoban</a></li><br/>

</ul>

<p>Note the following: </p>

<ul>
    <li>*Assignment 3 is made in the LXC_Assignment1 repo.</li><br/>
    <li>*The repo of assignment 4 is named LXC_Assignment3.</li><br />

</ul>

