@* @model MVC_Assignment.ViewModels.PeopleViewModel *@

@model IEnumerable<Person>
@{
    string langs = "";
}


@foreach(var item in Model)
          {
            <div class="row">
                <div class="col">
                        @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="col">
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                </div>
                <div class="col">
                        @Html.DisplayFor(modelItem => item.City.Name)
                </div>
                
        @for(int i = 0; i < item.Languages.Count; i++)
        {
            if(i == item.Languages.Count - 1)
            {
                langs = langs + item.Languages[i].Name + " \n";
            }
            else
            {
               langs = langs + item.Languages[i].Name + ",\n ";

            }
        }

            
            <div class="col">
               @langs   
                </div>
                
                <div class="col">
                        @Html.ActionLink("Delete", "DeletePerson", "People", new {  id=item.Id  })
                </div>
                @{
                         langs = "";
                 }

            </div>
          }
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
