@* @model MVC_Assignment.ViewModels.PeopleViewModel *@

@model IEnumerable<Person>


@foreach(var item in Model)
          {
            <div class="row">
                <div class="col">
                        @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="col">
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                </div>
                <div class="col">
                        @Html.DisplayFor(modelItem => item.City.Name)
                </div>
                <div class="col">
                        @Html.ActionLink("Delete", "DeletePerson", "People", new {  id=item.Id  })
                </div>
            </div>
          }
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
