
@model MVC_Assignment.ViewModels.PeopleViewModel



@if(@Model != null){
<div class="container">
    <div class="border p-2">
        <partial name="~/Views/Shared/_VariableView.cshtml" />
        <partial name="~/Views/Shared/_DataView.cshtml" />
     
         
   </div>
</div>
}
else{
    <p>No results found.</p>
}