@model MVC_Assignment.ViewModels.PeopleViewModel

 <div class="row">
            <div class="col-3">
                @Html.DisplayNameFor(model => model.NewPerson.Name)
            </div>
            <div class="col-3">
                @Html.DisplayNameFor(model => model.NewPerson.PhoneNumber)
            </div>
            <div class="col-3">
                @Html.DisplayNameFor(model => model.NewPerson.City)
            </div>
 </div>