@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add role to person</h1>




<form class="form form-control-sm" method="post">


    <label class="form-label">Select person</label><br />
     
    <select name="userId" asp-items="ViewBag.UserSelect"></select><br />

    
    <label class="form-label">Select language</label><br />
     
    <select name="roleName" asp-items="ViewBag.RoleSelect"></select><br />

    <input class="shadow" type="submit" value="Add role to user!" asp-action="AddRoleToUser">

</form>

<p>
    <a asp-action="Index">Return to roles</a>
</p>


