@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create new role</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var role in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => role.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => role.Name)
            </td>
            <td>
               
                <a asp-action="Delete" asp-route-id="@role.Id" class="btn btn-danger">Delete role</a>
            </td>
        </tr>
}
    </tbody>
</table>
