@model IEnumerable<Country>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Countries</h1>

@if (!User.Identity.IsAuthenticated)
{
    <p>You do not have access to this page.</p>
}
else
{
    if (User.IsInRole("Admin"))
    {

        <p>
            <a asp-action="Create">Create new country</a>
        </p>

        @if (Model != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.CountryId">Edit</a>
                            </td>
                            <td>
                                @Html.ActionLink("Delete", "DeleteCountry", "Country", new {  id=item.CountryId  })

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No results found. </p>
        }

    }
    else
    {
     <p>You do not have authorization of this page.</p>

    }
    }
