

@{
    ViewData["Title"] = "GuessingGame";
}

<h1>GuessingGame</h1>

<form asp-action="GuessingGame" method="post">

    <label>Guess a number between 1 and 100: </label><br />

    <input type="number" name="guessedNumber" /><br />

    <input type="submit" value="Guess" />

</form>



 @if(ViewBag.Result != null)
{
    <p>@ViewBag.Result</p>
}