@model Person

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create person</h1>

<form class="form form-control-sm" method="post">

      <label class="form-label" asp-for="Name"></label><br />
    <input type="text" name="name_input" /><br />

      <label class="form-label" asp-for="PhoneNumber"></label><br />
    <input type="number" name="phone_input" /><br />


    @*Dropdown! Kolla föreälsningar etc. *@
      <label class="form-label" asp-for="City"></label><br />
     
    <select name="cityid_input" asp-items="ViewBag.CityOptions"></select>

    <input class="shadow" type="submit" value="Cre8!" asp-action="Create">
</form>
<li><a asp-action="Index">Return to table</a></li>



