@* @model MVC_Assignment.ViewModels.PeopleViewModel *@

@model IEnumerable<Person>

@{
    ViewData["Title"] = "Data Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<li><a asp-action="Create">Create person</a></li>


<form class="container" method="post" asp-action="FilterPersons">

    <label>Search for a city or name...</label><br />

    <input type="text" name="user_input" />

    <input type="submit" />

</form>

<br />


<partial name="~/Views/Shared/_TableView.cshtml" />


<p>
    <a asp-controller="People" asp-action="Index">Refresh table</a>
</p>
