@model IEnumerable<MVC_Assignment.Models.Person>

@{
    ViewData["Title"] = "AddNewPerson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add a person to database</h1>

<form method="post" action="@Url.Action("AddPersonToList", "Data")">
    <label>
        @Html.DisplayNameFor(model => model.Name)
    </label>
    <input name="name" type="text" />
    
    <input type="submit" />

</form>

